*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: vivaldi;
	background: #EFEFEF;
	font-weight: bold;
}
.wrapper{
	width:100%;
	height: 55px; 
	background-color:#0008;	
}
.wrapper h1{
	position: absolute;
	top: 30%;
	left: 50%
	transform:translate(-50%, -50%);
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: 'Indie Flower', cursive;
    color: #000;
    font-size: 50px;
}
.wrapper h1 span{
	color: red;
}
.wrapper ul{
	float: right;
	margin-right: 20px;
}
.wrapper ul li{
	list-style: none;
	display: inline-block;
}
.wrapper ul li a{
	display: block;
	color: #fff;
	position:relative;
	font-size: 25px;
	text-decoration: none;
}
.wrapper ul li a:before{
	position: absolute;
	content: ' ';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: .8s;
}
.effect li a,
.effect li a:link,
.effect li a:visited{
	display: block;
	height: 55px;
	padding:10px 25px;
	background:#062F4F;
	transition: .8s;
	box-shadow: inset 0 2px 0 #fff, inset 0 -2px 0 #fff;
}
.effect li a:hover{
	text-decoration: none;
	color: #fff;
	box-shadow: inset 0 20px 0 rgba(0,0,0,0.9), inset 0 -20px 0 rgba(0,0,0,0.9);
}
.wrapper footer{
	position: relative;
	font-family: vivaldi;
	font-size: 30px;
	color: #062F4F; 
	top: 600px;
	width: 100%;
	height: 80px;
}
